.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;

}
body{
    background-color: rgb(38, 37, 37);
}


.block{
    justify-content: center;
}